
@use "../base/variables";

.ending {
  grid-area: ending;
  justify-self: end;
gap: 1em;
  display: flex;
  align-items: center;
color: variables.$lendsqrBlueSecondary;
  font-family: "Work Sans Regular";

   p:first-child{
    text-decoration: underline;
  }

  
}
