@use "../base/variables";

.ending {
  grid-area: ending;
  justify-self: end;
  gap: 1em;
  display: flex;
  align-items: center;
  color: variables.$lendsqrBlueSecondary;
  font-family: "Work Sans Regular";

  p:first-child {
    text-decoration: underline;
  }

  .iconShow {
    display: none;
  }

  @media (max-width: 1100px) {
    gap: 0.5em;
    .iconHide,
    .textHide,
    img {
      display: none;
    }
    .iconShow {
      display: block;
    }
  }

  @media (max-width: 768px) {
    //truncate text
    p {
      max-width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
