$lendsqrBlueSecondary: #213f7d;
$lendsqrGreen:#39CDCC;
$loginBackground: #545f7d26;

@mixin flex($dir: row, $justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: $dir;
}
