@use "../base/variables";

.loginContainer {
  width: 100dvw;
  height: 100dvh;
  display: flex;

  .logoContainer {
    position: relative;
    width: 50%;
    @include variables.flex;

    .login-logo {
      position: absolute;
      top: 10%;
      left: 10%;
      display: flex;
      gap: 5;

      h2 {
        color: variables.$lendsqrBlueSecondary;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
    }
  }

  .formContainer {
    width: 50%;
    background-color: variables.$loginBackground;
    @include variables.flex;

    .formContent {
      font-family: "Avenir Next Regular";
      width: 70%;
      // background: #000;

      h1 {
        color: variables.$lendsqrBlueSecondary;
        font-family: "Work Sans Bold";
      }
      > p {
        margin: 1em 0;
        font-weight: 100;
      }

      form {
        margin-top: 2em;
        padding: 0.5em;
        display: flex;
        flex-direction: column;
        gap: 10;

        label {
          width: 100%;
          position: relative;

          span {
            cursor: pointer;
            text-transform: uppercase;
            font-size: 0.7em;
            position: absolute;
            top: 50%;
            right: 4%;
            transform: translate(4%, -50%);
            color: variables.$lendsqrGreen;
          }
        }

        input {
          width: 100%;
          padding: 1em;
          background-color: transparent;
          border-radius: 5px;
          outline: none;
          border: 2px solid #545f7d26;
        }

        > p {
          font-size: 0.7em;
          letter-spacing: 2px;
          color: variables.$lendsqrGreen;
          text-transform: uppercase;
        }
        
        button{
            text-transform: uppercase;
            padding: .8em;
            border-radius: 8px;
            background-color: variables.$lendsqrGreen;
            border: none;
            color: #fff;
            cursor: pointer;
            letter-spacing: 3px;
        }
      }
    }
  }
}

.left {
  color: red;
}
