@use "base/variables";
@import "layouts/loginlayout";
@import "components/navbar";
@import "components/lastchild";
@import "components/searchbar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
}

button{
    border: none;
    outline: none;
}

.logo {
    display: flex;
    gap: 5;
  h2 {
    color: variables.$lendsqrBlueSecondary;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
