@use "base/variables";
@import "base/loading";
@import "base/notfound";
@import "layouts/loginlayout";
@import "components/navbar";
@import "components/usernavwidget";
@import "components/searchbar";
@import "components/sidebar";
@import "components/filterpanel";
@import "components/usertable";
@import "components/pagination_pagesize";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  overflow: hidden;
}

button{
    border: none;
    outline: none;
}

.logo {
    display: flex;
    gap: 5;
  h2 {
    color: variables.$lendsqrBlueSecondary;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

  .panel_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    z-index: 99;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;

    &--active {
      opacity: 1;
      pointer-events: all;
    }
  }


.logout {
  display: flex;
  align-items: center;
  color: variables.$lendsqrBlueSecondary;
  cursor: pointer;
  margin: 1em 0;
  padding: 0.5em 1em;
  border-top: 1px solid rgba(128, 128, 128, 0.164);
}

.version {
  color: variables.$lendsqrBlueSecondary;
  padding: 0.5em 1em;
}
